/* FONT */
@font-face {
    font-family: "ChillerCustom";
    src: url("../font/CHILLER.TTF") format("truetype");
}

/* HIDING AUDIO ELEMENTS */

audio {
    display: none;
}

/* PAGE COUNTER */
.page-counter {
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0;
    font-size: 3em;
}

/* PAGES STYLES */
html,
body {
    background-color: black;
    color: red;
    height: 100%;
    font-family: "ChillerCustom", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.first {
    background-image: url('../images/main-bg.gif');
    background-size: 100%;
    background-position: center;

}

.second {
    background-image: url('../images/eye-dark-eye.gif');
    background-size: 75px 75px;
}

.main-content {
    flex: 1;
}

/* SECOND PAGE MECHANICS */
.main-one {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
}

/* THIRD PAGE */
.random-place {
    position: absolute;
    width: 200px;
    height: 200px;
    pointer-events: none;
}

.hidden-img {
    opacity: 0;
    visibility: visible;
    pointer-events: auto;
}

.hidden-img:hover {
    opacity: 1;
}

/* JUMP SCARE */
.pop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visible {
    display: block;
    opacity: 1;
}

/* LAST PAGE */
.final-door {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 25%;
    height: auto;
}

/* HIDDEN BUTTONS */
.hidden-button {
    color: transparent;
    text-decoration: none;
    transition: color 0.3s ease;
}

.hidden-button:hover {
    color: white;
}